modules = ["vue-node-20", "web", "nodejs-20"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "static"
publicDir = "dist"
build = ["sh", "-c", "vite build"]

[[ports]]
localPort = 5173
externalPort = 80
